<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--通过自定义适配器实现任何类都是可以作为处理器类，并不需要实现Controller接口
        1.自定义适配器；

    -->
    <bean class="com.briup.web.adapter.MyhandlerAdapter"/>
    <bean name="/student" class="com.briup.web.controller.StudentController"/>
    <bean name="/hi" class="com.briup.web.controller.HiController"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    <mvc:default-servlet-handler/>
</beans>